@import "../../../App.scss";

.profile{
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  margin-top: 50px;
  margin-bottom: 50px;
}

.top_menu {
  width: 750px;
  display: flex;
  justify-content: space-between;
  // padding-bottom: 15px;
}

.profile-info h1{
  margin: 2%;
}

.profile-email{
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.profile-info p {
  margin: 2px 0px 5px 15px; 
}

.label{
  margin-bottom: 10px;
}
.profile-password{
  width: 680px;
  display: flex;
  justify-content: flex;
  flex-direction: column;
  margin: 5%;
}

.profile-password form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-name{
  display: flex;
  flex-direction: row;
}

.input-name input{
  width: 250px;
  height: 40px;
  border: 0;
  border-radius: 7px;
  background-color: #f8f9fa;
  margin: 0px 10px 10px 15px;
}

.input-name input:focus {
  outline: none;
  box-shadow: none;
  border-color: #1fb6ff;
}

.profile-button {
  margin: 2%;
}

.profile-button button{

  width: 100px;
  height: 35px;
  border: 0;
  border-radius: 7px;
  color: white;
  background-color:$MainColor3 ;
  padding: 0px 15px 0px 15px;
  margin: 10px 4px 10px 4px;
}

.basic_info {
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cancelBtn {
  background-color: $White;
  color: $MainColor3;
  border: 1px solid $MainColor3;
}

.profile-button button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.profileName {
  display: flex;
}

.profile-password h1{
  margin-top: 10px;
  margin-bottom: 30px;
}

.password-text {
  margin-top: 15px;
}

.password-text label{
  margin-right: 3px;
}

.password-text input {
  width: 300px;
  height: 45px;
  border: 0;
  border-radius: 7px;
  outline: none;
  background-color: #f8f9fa;
}

.unregister{
  width: 680px;
}

.unregister h2{
  margin-top: 20px;
  margin-bottom: 30px;
}

.unregister button{
  width: 100px;
  height: 35px;
  border: 0;
  border-radius: 7px;
  color: white;
  background-color:rgb(253, 1, 1) ;
}

.unregister button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.check {
  display: flex;
  flex-direction: row;
}

.check input {
  height: 24px;
  margin: 5px 0px 4px 0px;
}

.check p {
  margin: 4px 10px 4px 10px;
}