#eventTitle{
    margin: auto;
    display: block;
    text-align: left;
    
}

.createTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: rgb(25, 25, 26);
    display: flex;
    margin-bottom: 12px;
    padding-top:20px;
}

.createInput{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(196, 200, 204);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 14px 16px;
    width: 430px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgb(44, 45, 46);
}

#createText{
    background: white;
    border: 1px solid #c4c8cc;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 14px 16px;
    width: 700px;
    height: 500px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #2c2d2e;
    resize: none
}
#eventText{
    padding-top:20px;
}

#uploadIMG{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: rgb(25, 25, 26);
}

#uploadBox{
    background: rgb(235, 237, 240);
    border: 1px dashed rgb(144, 148, 153);
    box-sizing: border-box;
    border-radius: 10px;
    width: 450px;
    height: 253px;
    text-align: center;
    padding-top: 73px;    
    background-size: cover
}
#inputIMG{
    margin-top:10px;
}
.calendar{
    box-sizing: border-box;
    font-size : 12px;
    border-radius: 8px;
    padding: 9px 14px;
    height: 47px;
    width: 250px;
    background-color: white;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px 10px;
    margin-left:0px;
    position: static;
}

.dateBox{
    display:flex;
    width: 550px;
}
