#createMain{
    padding-top: 80px;
    padding-bottom: 200px;
    overflow: auto;
    min-height: 100%;
    padding-left:100px;
    display:inline-block
}

.onoffTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: rgb(25, 25, 26);
    margin-bottom: 74px;
}

.onoffBox{
    background: rgb(255, 255, 255);
    border: 1px solid rgb(196, 200, 204);
    box-sizing: border-box;
    border-radius: 25px;
    width: 210px;
    height: 210px;
    position: relative;
    cursor: pointer;
}

//박스 클릭 했을때
.onoffClick{
    border: 1px solid rgb(34, 83, 255);
}

.onoffArea{ 
    display: flex;
    // -webkit-box-pack: center;
    // justify-content: center;
    margin-bottom: 68px;

}

.onoffArea > * + * {
    margin-left: 17px;
}

.onlineImg{
    width: 110px;
    height: 92px;
    background: url(./online.png) center center / cover no-repeat;
    position: absolute;
    top: 49px;
    left: 49px;
    right: 49px;
}

.offlineImg{
    width: 140px;
    height: 80px;
    background: url(./offline.png) center center / cover no-repeat;
    position: absolute;
    top: 49px;
    left: 33px;
    right: 36px;
}

.onoffText{
    position: absolute;
    bottom: 26px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: rgb(25, 25, 26);
}

.eventType{
    max-width: 417px;
}
.typeTitle{  font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: rgb(25, 25, 26);
    text-align: left;
    margin-bottom: 15px;}
.radioBox{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    margin-top: 22px;
}
.radioButton{
    width: 18px;
    height: 18px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(34, 83, 255);
    border-radius: 50px;
    margin-right: 11px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.type{
    width: 16px;
    height: 18px;
    background: rgb(34, 83, 255);
    border-radius: 50px;
}
.radioTextBox{
    text-align: left;
}
.radioTextTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: rgb(44, 45, 46);
    margin-bottom: 2px
}
.radioTextSub{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgb(118, 120, 122);
}

