@import '../../App.scss';

//EventSearch

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
.EventList{
  width: 100%;
  height: 100%;
}
.banner{
  width: 100%;
  height : 700px;
  margin: 0 auto;
}

.banner img {
  width: 100% ;
  height: 700px;
}

.searchbar{
  margin-top: 70px;
}

.search-tabs{
  display: flex;
  justify-content: center;
  width: 700px;
  height: 70px;
  margin: auto;
  border: none;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.search-name{
  display: flex;
  justify-content: center;
}
.search-name form{
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.search-name form div{
  margin-right: 7px;
  font-size: 0.8rem;
}
.search-type {
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-size: 0.8rem;
}

.search-type div{
  margin-right: 7px;
}

.search-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button button{
  width: 70px;
  border-radius: 7px;
  border: none;
}

.search-button button:hover{
  opacity: 0.9;
  background-color: rgb(96, 161, 247) ;
  color: white;
}

.Search-input input {
  // width: 200px;
  height: 22px;
  font-size: 15px;
  border: 0;
  border-radius: 7px;
  outline: none;
  background-color: #f8f9fa;
}

.Search-input input:focus {
  outline: none;
}

.Search-input input::placeholder {
  color: #b6bec8;
}

