.EventInfo {
     // padding-top: 50px;
     // padding-bottom: 50px;
     // text-align: center;
     // margin-left :421.5px;
     // margin-right :421.5px;
     // padding-left : 24px;
     // padding-right: 24px;
     max-width: 1060px;
     height: 100%;
     margin: auto;
     padding: 0px 24px;
     padding-top :120px;
}


@media (max-width : 1120px) {
     .EventInfo{
          width:100%;
          height:100%;
          padding-right:0px;
          padding-left:0px;
          max-width: 1060px 
     }
     .img {
          width:100%;
          height:100%;
          padding-right: 0px;
     }
     .title{
          min-height: 320px;
          display:block;
          width:100%;
          padding-top:0px;
     }
}
