// Default Color Setting

$MainColor1: #06283D;
$MainColor2: #1363DF;
$MainColor3: #47B5FF;
$MainColor4: #DFF6FF;
$MainColor5: #313338;
$BorderLine :#b6bec8;
$White: #ffffff;
<<<<<<< HEAD
$KakaoColor1: #F7E600;
$KakaoColor2: #3A1D1D;
=======
$BoxShadow : rgba(149, 157, 165, 0.2) 0px 8px 24px;
>>>>>>> b74acef110c671e6ff133a7a79918029fe70536b

// index.html Setting
body {
  margin: 0%;
}

h1 {
  margin: 0%
}

// Font Setting
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap'); // Gothic A1
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

