@import '../../App.scss';
//EventItem


.event-board {
  min-width: 100%;
  // display: flex;
  // justify-content: center;
 
}

.new-event{
  width: 1320px;
  margin: 50px auto;
  padding-left: 30px;
}

.new-event h3{
  font-size: 25px;
  font-weight: 700;
}

.eventList-tabs{
  margin: auto;
  font-size: 12px;
  flex-wrap: wrap;

}

.event-box{
  width: 270px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.event-box a{
  text-decoration: none;
  color: black;
  
}

.new-event div{
  margin-top: 5px;
  font-size: 13px;
}

.event-img{
  width: 250px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.event-img img {
  width: 250px;
  height: 140px;
  object-fit: cover;

}

.event-box a:hover {
  opacity: 0.5;
}

.event-date{
  margin-bottom: 5px;
  width: 230px;
  padding-bottom: 2px;
}

.like-button{
  width: 200px;
  height: 40px;
}

.event-title {
  font-weight: 700;
  font-size: 1rem;
}

.event-onoff{
  width: 50px;
  border-radius: 7px;
  border: 0.5px solid gray ;
  font-size: 10px;
  text-align: center;
}