@import '../../App.scss';

//EventSearch


.EventList{
  width: 100%;
  height: 100%;

}

.searchbar{
  margin-top: 50px;
}

.search-tabs{
  width: 700px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 50px auto 0 auto;
  border: none;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.search-form {
  display: flex;
}
.search-name{
  display: flex;
  justify-content: center;
}
.search-name {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.search-name div{
  margin-right: 7px;
  font-size: 0.9rem;
  text-align: center;
}
.search-type {
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-size: 0.9rem;
}

.search-type div{
  margin-right: 7px;
}

.search-type select{
  background-color: #f8f9fa;
  border: 1px solid #aaa;
  border-radius: .5em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

.search-type select:hover {
  border-color: #888;
}

.search-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button button{
  width: 70px;
  height: 25px;
  border-radius: 7px;
  border: none;
}

.search-button button:hover{
  opacity: 0.9;
  background-color: rgb(96, 161, 247) ;
  color: white;
}

.search-name input {
  height: 25px;
  font-size: 15px;
  border: 0;
  border-radius: 7px;
  border: 1px solid #d3dce6;
  transition: border-color 200ms ease-in-out;
}

.search-name input:focus {
  outline: none;
}

.search-name input:focus{
  outline: none;
  box-shadow: none;
  border-color: #1fb6ff;
}

.search-name input::placeholder {
  color: #b6bec8;
}

.search-type select:focus{
  outline: none;
  box-shadow: none;
  border-color: #1fb6ff;
}

@media screen and (max-width : 63rem) {
  .search-tabs{
    display: none;
  }  
}