@import '../../../App.scss';

.Guide {
  max-width: 1060px;
  height: 100vh;
  margin: 0 auto;
  font-size: 0.8rem;
}

.Guide-wrap{
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;

}
.guide-content{
  margin-bottom: 20px;
}

.guide-content h3{
  font-size: 16px;
  margin-bottom: 7px;
}

.guide-content p {
  margin-bottom: 7px;
}