@import '../../../App.scss';

.Guide {
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  font-size: 0.8rem;
}

.Guide-wrap{
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;

}
.guide-content{
  margin-bottom: 10px;
}

.guide-content h3{
  margin-bottom: 7px;
}

.guide-content p {
  margin-bottom: 7px;
}