@import '../../../App.scss';

.Policy {
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  font-size: 0.8rem;
}

.policy-wrap{
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
}

.policy-contents{
  margin-bottom: 50px;
}

.policy-contents h3{
  margin-bottom: 10px;
}

.policy-contents p{
  margin-bottom: 5px;
}

