@import '../../../App.scss';

.privacy {
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  font-size: 0.8rem;
}

.privacy-wrap{
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
}

.privacy-contents{
  margin-bottom: 50px;
}

.privacy-contents h1{
  margin-bottom: 5px;
}

.privacy-contents p{
  margin-bottom: 5px;
}

