@import '../../../App.scss';

.privacy {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}

.privacy-wrap{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.privacy-contents{
  margin-bottom: 50px;
}

.privacy-contents h1{
  margin-bottom: 5px;
}

.privacy-contents p{
  margin-bottom: 5px;
}

