@import '../../../App.scss';

.Policy {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}

.policy-wrap{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.policy-contents{
  margin-bottom: 50px;
}

.policy-contents h3{
  margin-bottom: 10px;
}

.policy-contents p{
  margin-bottom: 5px;
}

