.search-keyword{
  width: 100%;
  height: 80vh;
}

.notFound {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emoji {
  font-size: 150px;
  margin-bottom: 30px;
}

.notFound-content{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 50px;

}